<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        
        <nav class="navbar navbar-dark ">
            <img src="img/logo.png" />
        </nav>

        <div class="container" id="RoomCreateJoin">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-header">kjdgsakdgkgdjhDkg</div>
                    <div class="panel-body">A Basic shivendra Panel</div>
                    <div class="panel-footer">
                        mdnkjhdhkjdkjsbdiyghdbhjg
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>