<html>
    <head>
        <title>Hii_bol</title>
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/style.css" >
    </head>
    <body>
<!--nav-bar-->
        <nav class ="nav navbar-dark"><h1>hello its me</h1></nav>
        
<!--ChatBox-->
        <div id="chat-box" class="chat-box col-lg-4 col-lg-offset-8 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-6">
            <div id="panel" class="row">
                <div class="panel panel-primary ">
                    <div class="panel-heading">
                        <center><h3>ChatBox</h3></center>
                    </div>
                    <div id="chat-space" class="panel-body chat-space">
                        <div class="new-alert">
                            <p>Shiv joined</p>
                        </div>
                        <!--<div class="message message-incomming">
                            <p>message</p>
                        </div>
                        <div class="message message-outgoing">
                            <p>message</p>
                        </div> -->
                    </div>
                    <div class="panel-footer">
                        <center>
                            <div class="massage-input">
                                <input id="msgOutgoing" type="text" name="massage" placeholder="type..."/>
                                <button id="msg-send" class="glyphicon glyphicon-send btn btn-primary"></button>
                            </div>
                        </center>
                    </div>
                </div>
            </div>

        </div>

<!--footer-of-page-->

        <footer class="footer">
            <button id="mic-btn" onclick="#" class="btn btn-primary" >
                <span class="glyphicon glyphicon-headphones"></span>
            </button>
            <button id="video-btn" onclick="#" class="btn btn-primary" >
                <span class="glyphicon glyphicon-facetime-video"></span>
            </button>
            <button id="chat-btn" onclick="chat()" class="btn btn-primary" >
                <span class="glyphicon glyphicon-comment"></span>
            </button>
            <button id="screen-btn" onclick="#" class="btn btn-primary" >
                <span class="glyphicon glyphicon-share"></span>
            </button>
            <button id="leave-btn" onclick="#" class="btn btn-primary" >
                <span class="glyphicon glyphicon-log-out"></span>
            </button>
        </footer>



        <script>
            function chat() {
                if(document.getElementById("chat-box").style.display == "none"){
                    document.getElementById("chat-box").style.display = "block";
                    document. getElementById('chat-btn'). style. backgroundColor = 'Red';
                }else{
                    document.getElementById("chat-box").style.display = "none";
                    document. getElementById('chat-btn'). style. backgroundColor = 'blue';
                }
                }
        </script>

        <script>
            var username = "{{{data.username}}}";
            var roomId = "{{{data.roomId}}}";
            var createORjoin = "{{{data.createORjoin}}}";
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>